@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  margin: 0;
  background-color: #fafafa;
  color: #333;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 1600px) {
  body {
      font-size: 22px;
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(176,149,220);
  background: -webkit-gradient(linear, left top, right top, from(rgba(176,149,220,1)), to(rgba(253,156,173,1)));
  background: -o-linear-gradient(left, rgba(176,149,220,1) 0%, rgba(253,156,173,1) 100%);
  background: linear-gradient(90deg, rgba(176,149,220,1) 0%, rgba(253,156,173,1) 100%);
  color: #ffffff;
  z-index: 1;
}
.container {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
      padding: 0;
      width: 640px;
      margin-left: auto;
      margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
}
@media screen and (min-width: 1600px) {
  .navbar .container {
    height: 96px;
  }
}
.navbar .logo {
  display: block;
  height: 44px;
  width: 43px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media screen and (min-width: 768px) {
  .navbar .logo {
      width: auto;
  }
}
@media screen and (min-width: 1600px) {
  .navbar .logo {
      height: 64px;
  }
}
.navbar .icon {
  display: block;
  height: 32px;
}
@media screen and (min-width: 1600px) {
  .navbar .icon {
      height: 48px;
  }
}
.navbar .link {
  color: inherit;
  text-decoration: none;
}
.navbar .link + .link {
  margin-left: 24px;
}
.navbar .spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  min-height: calc(100vh - 64px);
  background: url('../img/campaign-buenfin/bg.jpg');
  background:
    linear-gradient(180deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.75) 33%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(250,250,250,1) 100%),
    url('../img/campaign-buenfin/bg.jpg');
  background-size: 100% calc(100vh - 64px), auto calc(100vh - 64px);
  background-position: center top, 60% top;
  background-repeat: no-repeat;
}
.main .container .campaign-col .campaign-box {
  background-color: rgb(176,149,220);
  color: #fff;
  padding: 12px 24px;
  margin-top: 24px;
  border-radius: 8px;
  line-height: 1.4;
  font-size: 90%;
}
.main .container .campaign-col .campaign-box.secondary {
  background-color: #fff;
  color: #333333;
  position: relative;
  text-align: center;
}
.main .container .campaign-col .campaign-box.secondary img {
  display: block;
  width: 100px;
  margin: 12px auto;
}
@media screen and (min-width: 992px) {
  .main .container .campaign-col .campaign-box.secondary {
    padding-right: 124px;
    min-height: 66px;
    text-align: left;
  }
  .main .container .campaign-col .campaign-box.secondary img {
    position: absolute;
    width: 100px;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background:
        linear-gradient(180deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.75) 25%, rgba(255,255,255,0) 40%),
        url('../img/campaign-buenfin/bg.jpg');
      background-size:
        100% 100%,
        cover;
      background-position:
        left top,
        45% top;
      background-repeat: no-repeat;
  }
  .main .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: flex-start;
  }
  .main .container .campaign-col,
  .main .container .offers-col {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      width: 0;
  }
}

@media screen and (min-width: 1600px) {
  .main {
      margin-top: 96px;
      background-size: 100% 100%,
          cover;
      background-position: left top,
          center center;
  }
}
@media screen and (min-width: 768px) {
  .campaign-col {
      margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .campaign-col {
      margin-top: 0;
  }
}
.campaign {
  display: block;
  width: 240px;
  max-width: 100%;
  margin: auto;
}
.campaign.special {
  margin-top: 160px;
}
@media screen and (min-width: 992px) {
  .campaign {
      width: 280px;
  }
}
@media screen and (min-width: 1600px) {
  .campaign {
      width: 480px;
      margin-left: 0;
  }
}
.card-wrapper {
  max-width: 100%;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1600px) {
  .card-wrapper {
      width: 360px;
  }
}
@media screen and (min-width: 1600px) {
  .card-wrapper {
      margin-right: 0;
  }
}
.nav.nav-tabs.offers-tabs {
  font-size: 0.9rem;
  border-bottom: 0;
}
.nav.nav-tabs.offers-tabs .nav-link {
  background-color: rgba(179,179,179,0.5);
  color: #ffffff;
  border-radius: 0;
}
.nav.nav-tabs.offers-tabs .nav-link.active {
  background-color: #ffffff;
  color: #b095dc;
}
.offers-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5em;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.offers-card .offer {
  border: 1px solid rgb(176,149,220);
  padding: 1em;
}
.offers-card .offer:nth-child(even)  {
  border-color: rgb(253,156,173);
}
.offers-card .offer + .offer {
  margin-top: 0.5em;
}
.offers-card .offer .price {
  color: rgb(176,149,220);
  font-weight: bold;
  font-size: 1.75em;
}
.offers-card .offer .price + .price {
  border-top: 1px solid rgb(253,156,173);
  color: rgb(253,156,173);
}
.offers-card .offer .price .currency {
  position: absolute;
  margin-top: 0.25em;
  margin-left: 0.5em;
  vertical-align: super;
  font-size: 0.5em;
}
.offers-card .offer:nth-child(even) .price {
  color: rgb(253,156,173);
}
.offers-card .offer:nth-child(even) .price + .price {
  border-top: 1px solid rgb(176,149,220);
  color: rgb(176,149,220);
}
.offers-card .offer .date {
  padding-top: 1em;
  font-size: 0.75em;
}
.offers-card .offer:nth-child(even) .date {
  border-top-color: rgb(253,156,173);
}
.panel-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  border-radius: 16px;
  background-color: rgba(176,149,220,0.75);
}

.panel-card .btn + .btn {
  margin-top: 1em;
}
.btn.btn-outline {
  border: 1.5px solid #ffffff;
  color: #ffffff;
}
.timer-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.timer {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .timer {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.timer .segment {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 54px;
  height: 54px;
  margin: 0 4px;
  margin-bottom: 1.5em;
  text-align: center;
  border: 1px solid #b095dc;
  border-radius: 0.24em;
  font-size: 1.5em;
  line-height: 54px;
  color: #b095dc;
}
.timer .segment:first-child {
  margin-left: 0;
}
.timer .segment:nth-child(4) {
  margin-right: 0;
}
.timer .segment::before,
.timer .segment::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  top: 22px;
  left: 0;
  background-color: #b095dc;
}
.timer .segment::after {
  left: auto;
  right: 0;
}
@media screen and (min-width: 768px) {
  .timer .segment {
      width: 72px;
      height: 72px;
      line-height: 72px;
      margin: 0 8px;
  }
  .timer .segment::before,
  .timer .segment::after {
      height: 12px;
      width: 3px;
      top: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .timer .segment {
      width: 120px;
      height: 120px;
      margin: 0 16px;
      line-height: 120px;
      font-size: 2.5em;
  }
  .timer .segment::before,
  .timer .segment::after {
      height: 20px;
      width: 4px;
      top: 50px;
  }
}
.timer .segment .unit {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -24px;
  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1rem;
}

.timer .date {
  width: 100%;
  margin-top: 40px;
  color: #b3b3b3;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
}
